<h1> {{ section.settings.title }}</h1>
<p> {{ section.settings.subtext_html }}</p>

{% schema %}
    {
        "name": "Template 404",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "404",
                "label": "404 Heading Title"
            },
            {
                "type": "textarea",
                "id": "subtext_html",
                "default": "The page you were looking for does not exist",
                "label": "404 Heading subtext html"
            }
        ]
    }
{% endschema %}